<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ##need to style this
    <title>Character Screen</title>
</head>
<body>
    <h1>{{character.name}}'s Status</h1>
    <table class="table table-info">
        <thead>
            <th>NAME</th>
            <th>ROLE</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>SPD</th>
        </thead>
        <tbody>
            <tr>
                <td>{{character.name}}</td>
                <td>{{character.role}}</td>
                <td>{{character.attack}}</td>
                <td>{{character.defense}}</td>
                <td>{{character.speed}}</td>
            </tr>
        </tbody>
    </table>
    <a href="/battle"></a>
</body>
</html>
