<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Character Screen</title>
</head>
<body>
    <div class="container bg-rpg">
        <h1>{{character.name}}'s Status</h1>
    <table class="table table-info">
        <thead>
            <th>NAME</th>
            <th>ROLE</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>SPD</th>
        </thead>
        <tbody>
            <tr>
                <td>{{character.name}}</td>
                <td>{{character.role}}</td>
                <td>{{character.attack}}</td>
                <td>{{character.defense}}</td>
                <td>{{character.speed}}</td>
            </tr>
        </tbody>
    </table>
    <a href="/battle"></a>
    <a href="/dashboard">Return</a>
    </div>
</body>
</html>
