<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{user.user_name}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>You're viewing {{user.user_name}}'s Profile</h1>
    <h2>{{user.user_name}}'s Record</h2>
    {% for post in user_posts  %}
        <p>{{post.content}}</p>
            {% if session["user_id"] == user.id %}
                <!-- <a href="/posts/{{post.id}}/edit">Edit</a>
                <a href="/posts/{{post.id}}/delete">Delete</a> -->
            {% endif %}
        </p>
    {% endfor %}
    <a href="/battle">Return to the Job board</a>
    <a href="/logout">Logout</a>
</body>
</html>